<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Service_Via_All" value="http://admin.facespam.net/admin/getall.json"/>
    <add key="Service_Via_New" value="http://admin.facespam.net/admin/getall_new.json"/>
    <add key="Service_Via_CP" value="http://admin.facespam.net/admin/getall_checkpoint.json"/>
    <add key="Service_Via_Trusted" value=""/>
    <add key="Service_Via_Sumbmit_Live" value="http://admin.facespam.net/admin/setlive.json"/>
    <add key="Service_Via_Set_Checkpoint" value="http://admin.facespam.net/admin/setcheckpoint.json"/>
    <add key="Service_Via_Set_Die" value="http://admin.facespam.net/admin/setdie.json"/>

    <!--<add key="Service_Via" value="http://admin.memovie.info//get_all.php"/>
    <add key="Service_Via_CP" value="http://admin.memovie.info/get_all_cp.php"/>
    <add key="Service_Via_Trusted" value=""/>
    <add key="Service_Via_Sumbmit_Live" value="http://admin.memovie.info//update_live.php"/>
    <add key="Service_Via_Set_Die" value="http://admin.memovie.info/update_status.php"/>-->
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
